@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&display=swap');
:root{
  --tclr-intro:#5A5A5A;
}

body.no-scroll {
  overflow: hidden;
}

*{
  margin: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: inherit;
}

.room-title h2 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  color: inherit;
  text-align: inherit;
}
/* utilities */
  .mt-40{
    margin-top: 40px;
  }

  .btn{
    width: auto;
    height: 40px;
    /* background-color: red; */
    padding: 5px 10px;
    border: 1px solid #a15b4c;
    color:#a15b4c ;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 17px;
    cursor: pointer;
  }

  .btn--booking{
    color: white;
    background-color:#a15b4c ;

    transition: all .3s ease 0s;
  }

  .btn--booking:hover{
    background-color: #B95C47;
    color: rgb(231, 227, 227);
  }
/* utilities ends */



.section-title{
  color: #B95C47;
  text-transform: uppercase;
  font-size: .9rem;
  letter-spacing: 2px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
}

.section-title::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: rgb(2,0,36);
background: linear-gradient(130deg, rgba(2,0,36,1) 0%, rgba(243,249,0,1) 0%, rgba(47,203,180,1) 32%, rgba(0,212,255,1) 53%, rgba(97,233,58,1) 81%);
  top: 40px;
}
/* home page */

.section-intro{
  width: 76%;
  /* background-color: red; */
  color: var(--tclr-intro);
  font-size: 17px;
  letter-spacing: normal;
  text-align: center;
  line-height: 1.4rem;
 /* background-color: blue; */
}

.sections-container{
 height: auto;
 /* background-color: yellow; */
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-around;

}

.section-wrapper{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 90%;
  /* background-color: lightcyan; */
  align-items: center;
  gap: 40px;
  /* justify-content: center; */

}

.section-content{
  display: flex;
  gap: 30px;
  justify-content: center;
}

.section-content img{
  width: 370px;
  height: 500px;
  border-radius: 5px;
}


.section-wrapper.offer-section{
  height: 400px;
  width: 100%;
  background:url('https://4.bp.blogspot.com/_AQ0vcRxFu0A/S9shDGGyMTI/AAAAAAAAAYk/kn3WTkY2LoQ/s1600/IMG_0714.JPG');
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-wrapper.offer-section p{
  font-size: 60px;
  color: #ffffff;
  font-family: 'Caveat', cursive;

  line-height: 4rem;
  font-weight: 300;
  width: 80%;
  margin: 0 auto;
}


.section-wrapper.section-restaurant{
  display: flex;  
  width: 80%;
  flex-direction: row;
  /* background-color: blue; */
  justify-content: center;
}

/* .section-wrapper.section-restaurant div{
  height: 400px;  
  
} */
.--left,.--right{
  width: 70%;
  /* background-color: red; */
  height: 400px;
  z-index: 2;
  border-radius: 5px;
  overflow: hidden;

}

.--right{
  margin-left: -80px;

}

.--left img, .--right img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  
}

.--middle{
  display: flex;
  width: 60%;
  margin-left: -80px;
  background-color: #F6F6FA;
  height: 500px;
  padding: 0 40px;
  flex-direction: column;
  align-items: center;
 
  justify-content: center;
  


}

.--middle p{
  font-size: 1.5rem;
  word-spacing: 15px;
  /* font-weight: 900; */
  line-height: 2.5rem;
  color: rgb(104, 102, 102);

}
.--middle .btn{
  margin-top: 10px;
  width: 80% ;
  margin: 5px auto 0;
}



.amenitiies-wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: #F6F6FA;
  padding: 10px 0;
  border-radius: 5px;
}
.amenity{
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  width: 45%;
  gap: 5%;
  text-transform: capitalize;
  

}

.amenitiies-wrapper .amenity__icon{
  display: flex;
  justify-content: center;
  font-size: 60px;
  color:#849fc5;
  width: 30%;

  /* background-color: red; */
}
.amenity__info{
  width: 70%;
  /* background-color: aqua; */
}
.amenity__info p{
  font-size: 14px;
}
.amenity__info .title{
font-size: 20px;
color:#0E2A4E;
font-family :"GlacialIndifference-Regular";
line-height:21px;
vertical-align:baseline;
letter-spacing: 2px;
word-spacing:0px;
margin:0px 0px 15px;
padding:0px;


}
.amenity__info p{
  font-family:  "GlacialIndifference-Regular";
  color:#8A8B96;
  font-size:16px;
  line-height:30px;
  vertical-align:baseline;
  letter-spacing:normal;
  word-spacing:0px;
  margin:0px 0px 15px;
  padding:0px;

}
/* home page end */

/* roooms page */

.rooms-hero{
  width: 100%;
  height: 450px;
}

.rooms-hero img{
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.section-wrapper.rooms-section{
  margin-bottom: 40px;
}
.section-content.rooms-row{
  display: flex;
  width: 100%; 
  gap: 4%;
  /* background-color: red; */
  justify-content: center;


}

.room-details{
  display: flex;
  flex-direction: column;
  width: 30%;
  /* background-color: blue; */
}

.room-details img{
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.room-details__content{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.room-details__content i{
  display: flex;
  align-items: center;
  gap: 5px;
}
/* rooms page ends */


/* single room page */
.rooms-hero.single-room{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 700px;
 
  margin: 10px auto ;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
}

.section-wrapper.single-room-details{
  height: auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  /* background-color: red; */
  align-items: flex-start;
  margin-bottom: 20px;
  gap: 20px;
  position: relative;
  justify-content: space-between;
}
.section-wrapper.single-room-details i{
  font-style: normal;
}
.single-room-details__left{
  width: 60%;
  height: 100%;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  gap: 20px;
}




.room-info{
  display: flex;
  flex-direction: column;
  gap: 10px;
 
}

.room-info p{
  line-height: 1.5rem;
  font-size: 1.2rem;
  font-weight: inherit;
  color: rgba(79, 80, 82, 0.9);
}
.room-info i{
  display: flex;
  align-items: center;
  gap: 5px;
}

.amenities-wrapper{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.amenities-wrapper .title{
  font-size: 1rem;
text-transform: uppercase;
letter-spacing: 2px;
}

.row{
  display: flex;
  align-items: center;
  /* gap: 30px; */
}

.row.amenity{
  display: flex;
  width: 100%;
  gap: 10%;
  /* background-color: yellow; */
}
.row.amenity i{
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: normal;
  /* background-color: red; */
  min-width: 40%;
  color: rgba(79, 80, 82, 0.9);
}

.room-title{
  font-family: 'Cormorant Garamond', serif;
 
  color: #1a1a1a;
  font-size: 42px;

}

.single-room-details__right.booking{
  position: sticky;
  width: 25%;
  height: auto;
 
  top: 20px;
  right: 0; 
 padding: 20px 30px;
 display: flex;
 flex-direction: column;
 gap: 20px;
 background-color:white;
 border: 1px solid rgb(227, 227, 241);
 box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.single-room-details__right.booking i{
  font-size: 1.1rem;
  letter-spacing: 1px;
  /* background-color: red; */
}
.booking__contact{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.booking__contact-indivisual
{
  display: flex;
  align-items: center;
  gap: 10px;
}


.booking-mobile{
  display: none;
}

.booking__contact img{
 width: 20px;
 height: 20px;
 fill: red;
}


/* single-room page ends */




/* contact-us */
  .contact-hero{
    height: 500px;
    width: 100%;
    background-color: red;
  }

  .contact-hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .section-wrapper.contact-us{
    /* background-color: red; */
   width: 100%;
   
  }

  .section-details-map{
    display: flex;
    flex-direction: row;
    /* background-color: red; */
    width: 80%;
    align-items: center;
  }

  .map{
    height: 300px;
    width: 50%;
  }
  .map iframe{
    height: 100%;
    width:100%;
  }
  .contact-details-wrapper{
    display: flex;
    
    flex-direction: column;
    gap: 20px;
    width: 50%;
    /* background-color: blue; */
    /* align-items: start; */
  }
  .contact-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .contact-details.social p{
    display: flex;

    gap: 20px;
    /* justify-content: center; */

  }

  .contact-details.social p img{
    width: 32px;
    height: 32px;
    justify-content: center;
  }

  .section-faq{
    background-color:#F6F6FA;
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
    gap: 5%;
  }

  .faq-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* background-color: yellow; */
    width: 60%;
  }
  .faq-details p{
      width: 100%;
      font-size: 1.3rem;
      line-height: 1.7rem;
  }

  .section-wrapper.contact-us .section-intro .section-intro__content {
   /* background-color: yellow; */
    font-family: "Cormorant Garamond",    sans-serif;
    font-size: 24px;
    line-height: 36px;
    color: rgb(26,26,26);
    font-weight: 600;

  }
/* contact-us ends */














/* footer section */
footer{
  position: relative;
  display: flex;
  background-color: #24324A;
  height: auto;
  width: 100%;
  align-items: center;
  justify-content: center;
  /* opacity: 0.8; */
}
.footer__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 15px;
}

.footer__container .footer__title{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__container .footer__title h2{
  font-family: 'lato';
  color: white;
  font-size: 2rem;
}

.footer__container .footer__title aside{
  color:#818A9C;

}

.footer__address{
  width: 90%;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color:#818A9C;
  font-family: 'lato';
  font-weight: 400;
  text-align: center;
}

.footer__social{

  display: flex;
  flex-direction: column;
  gap: 5px;
  /* background-color: #344157; */
  padding-top: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 10px;
}
.footer__social h3{
  color: white;
  font-family: 'lato';
  font-size: 1.3rem;
}

.social-icons{
  display: flex;
  justify-content: center;
  gap: 15px;
  font-size: 2rem;
  color: yellow;

}
.footer__social p{
  margin-top: 10px;
  color:#818A9C;
  text-transform: uppercase;
  font-family: 'lato';
}





/* footer ends */




.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz'48'
}


