  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans');

  @import url('https://fonts.googleapis.com/css2?family=Caveat&family=Josefin+Sans:wght@200&display=swap');


:root{
  --tclr-intro:#5A5A5A;
}
*{
  margin: 0;
  box-sizing: border-box;
}

/* utilities */
  .mt-40{
    margin-top: 40px;
  }
/* utilities ends */



/* home page */

.section-intro{
  width: 76%;
  /* background-color: red; */
  color: var(--tclr-intro);
  font-size: 17px;
  letter-spacing: normal;
  text-align: center;
  line-height: 1.4rem;

}
.sections-container{
 height: auto;
 /* background-color: yellow; */
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-around;

}

.section-wrapper{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 90%;
  /* background-color: lightcyan; */
  align-items: center;
  gap: 40px;
  /* justify-content: center; */

}

.section-content{
  display: flex;
  gap: 30px;
  justify-content: center;
}

.section-content img{
  width: 370px;
  height: 500px;
  border-radius: 5px;
}


.section-wrapper.offer-section{
  height: 400px;
  width: 100%;
  background:url('https://4.bp.blogspot.com/_AQ0vcRxFu0A/S9shDGGyMTI/AAAAAAAAAYk/kn3WTkY2LoQ/s1600/IMG_0714.JPG');
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-wrapper.offer-section p{
  font-size: 60px;
  color: #ffffff;
  font-family: 'Caveat', cursive;

  line-height: 4rem;
  font-weight: 300;
  width: 80%;
  margin: 0 auto;
}


.section-wrapper.section-restaurant{
  display: flex;
  
  width: 80%;
  flex-direction: row;
  /* background-color: blue; */
  justify-content: center;
}

/* .section-wrapper.section-restaurant div{
  height: 400px;  
  
} */
.--left,.--right{
  width: 70%;
  /* background-color: red; */
  height: 400px;
  z-index: 2;
  border-radius: 5px;
  overflow: hidden;

}

.--right{
  margin-left: -80px;

}

.--left img, .--right img{
  width: 100%;
  height: 100%;
  background-size: cover;
  
}

.--middle{
  width: 60%;
  margin-left: -80px;
  background-color: #F6F6FA;
  height: 500px;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

}

.--middle p{
  font-size: 2rem;
  word-spacing: 10px;
  /* font-weight: 900; */
  line-height: 3rem;
  color: rgb(104, 102, 102);

}



.amenitiies-wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: #F6F6FA;
  padding: 10px 0;
  border-radius: 5px;
}
.amenity{
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  width: 45%;
  gap: 5%;
  text-transform: capitalize;
  

}

.amenitiies-wrapper .amenity__icon{
  display: flex;
  justify-content: center;
  font-size: 60px;
  color:#849fc5;
  width: 30%;

  /* background-color: red; */
}
.amenity__info{
  width: 70%;
  /* background-color: aqua; */
}
.amenity__info p{
  font-size: 14px;
}
.amenity__info .title{
font-size: 20px;
color:#0E2A4E;
font-family :"GlacialIndifference-Regular";
line-height:21px;
vertical-align:baseline;
letter-spacing: 2px;
word-spacing:0px;
margin:0px 0px 15px;
padding:0px;


}
.amenity__info p{
  font-family:  "GlacialIndifference-Regular";
  color:#8A8B96;
  font-size:16px;
  line-height:30px;
  vertical-align:baseline;
  letter-spacing:normal;
  word-spacing:0px;
  margin:0px 0px 15px;
  padding:0px;

}
/* home page end */




/* footer section */
footer{
  position: relative;
  display: flex;
  background-color: #24324A;
  height: auto;
  width: 100%;
  align-items: center;
  justify-content: center;
  /* opacity: 0.8; */
}
.footer__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 15px;
}

.footer__container .footer__title{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__container .footer__title h2{
  font-family: 'lato';
  color: white;
  font-size: 2rem;
}

.footer__container .footer__title aside{
  color:#818A9C;

}

.footer__address{
  width: 90%;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color:#818A9C;
  font-family: 'lato';
  font-weight: 400;
  text-align: center;
}

.footer__social{

  display: flex;
  flex-direction: column;
  gap: 5px;
  /* background-color: #344157; */
  padding-top: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 10px;
}
.footer__social h3{
  color: white;
  font-family: 'lato';
  font-size: 1.3rem;
}

.social-icons{
  display: flex;
  justify-content: center;
  gap: 15px;
  font-size: 2rem;
  color: yellow;

}
.footer__social p{
  margin-top: 10px;
  color:#818A9C;
  text-transform: uppercase;
  font-family: 'lato';
}





/* footer ends */



