

.slider {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.slide.current {
  opacity: 1;
}

.slide .content {
  position: absolute;
  bottom: 70px;
  left: -600px;
  opacity: 0;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  padding: 35px;
}

.slide .content h1 {
  margin-bottom: 10px;
}

.slide.current .content {
  opacity: 1;
  transform: translateX(600px);
  transition: all 0.7s ease-in-out 0.3s;
}

.buttons button#next {
  position: absolute;
  top: 40%;
  right: 15px;
}

.buttons button#prev {
  position: absolute;
  top: 40%;
  left: 15px;
}

.buttons button {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;
  outline: none;
}

.buttons button:hover {
  background-color: #fff;
  color: #333;
}

@media (max-width: 500px) {
  .slider {
    position: relative;
    overflow: hidden;
    height: 70vh;
    width: 100vw;
  }
  
  .slide .content {
    bottom: -300px;
    left: 0;
    width: 100%;
  }

  .slide.current .content {
    transform: translateY(-300px);
  }
}



/* Backgorund Images */
 
.slide:first-child {
  background: url('https://cdn.pixabay.com/photo/2017/12/16/22/22/bora-bora-3023437_960_720.jpg') no-repeat
    center top/cover;
}
.slide:nth-child(2) {
  background: url('https://cdn.pixabay.com/photo/2018/03/27/15/04/women-3266211_960_720.jpg') no-repeat
    center top/cover;
}
.slide:nth-child(3) {
  background: url('https://cdn.pixabay.com/photo/2017/02/15/07/56/fantastic-2067836_960_720.jpg') no-repeat
    center top/cover;
}
.slide:nth-child(4) {
  background: url('https://cdn.pixabay.com/photo/2020/10/08/08/10/hotel-5637315_960_720.jpg') no-repeat
    center top/cover;
}
.slide:nth-child(5) {
  background: url('https://cdn.pixabay.com/photo/2016/06/10/01/05/hotel-room-1447201_960_720.jpg') no-repeat
    center top/cover;
} 
.slide:nth-child(6)  {
  background: url('https://cdn.pixabay.com/photo/2019/06/25/13/59/city-4298285_960_720.jpg') no-repeat
    center center/cover;
}