{% load static %}
<div class="single-room-details__right booking">
    <div class="booking-title">
        <h2>
            Book your stay
        </h2> 
    </div>
    
    <div class="booking__contact">
        <div class="booking__contact-indivisual phone">
            <img src="{%static 'images/icons/icon-phone.svg'%}" alt="">
            <i>
                94599 95498
            </i>
        </div>
        
        <div class="booking__contact-indivisual chat">
            <img src="{%static 'images/icons/icon-whatsapp.svg'%}" alt="">
            <i>
                9459995498
            </i>
        </div>
        
        <div class="booking__contact-indivisual instagram">
            <img src="{%static 'images/icons/icon-instagram.svg'%}" alt="">
            <i>
                tirthanvillageresort
            </i>
        </div>
        
        
    </div>
    
    <div class="btn btn--booking">
        Book now
    </div>
</div>
    
    
    <div class="booking-mobile">
        <img src="{%static 'images/icons/icon-phone-dark.svg'%}" alt="">
        <img src="{%static 'images/icons/icon-whatsapp-dark.svg'%}" alt="">
        <img src="{%static 'images/icons/icon-instagram.svg'%}" alt="">
        <div class="btn btn--booking">
            Book now
      </div>
  </div>