<footer>
    <div class="footer__container">
        <div class="footer__title">
            <h2>
                Tirthan Village Resort
            </h2>
            <aside>Hotel - Resort - Restaurant - Cafe</aside>
        </div>
       
        <div class="footer__address">
            <p>

                VPO Gushaini, Teh. Banjar, Distt. Kullu, Himachal Pradesh<br>
                + 91 94599 95498 <br>
                tirthanvillageresort@gmail.com<br>
            </p>
        </div>

        <div class="footer__social">
            <h3>
                Follow us on social Media
            </h3>
            <div class="social-icons">
                <i class="fa fa-brands fa-facebook"></i>
                <i class="fa fa-brands fa-instagram"></i>
                <i class="fa fa-brands fa-youtube"></i>
            </div>
            <p>
                copyright &#169; tirthan village resort
            </p>
        </div>
        {% comment %} <div class="footer__copyright">
            <p>
                copyright &#169; tirthan village resort
            </p>
        </div>
    </div> {% endcomment %}
</footer>