<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" href="{% static 'styles/nav.css' %}">
    {% block css %}
    
    {% endblock css %}

</head>
<body>
    <div class="container">

        {% include 'nav.html' %}
        
        {% block content %}
        
        {% endblock content %}
    </div>
    <script src="{% static 'js/nav.js' %}"></script>
    <script src="{% static 'js/slider.js' %}"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-40525870-5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-40525870-5');
</script>

    </body>
</html>