<header class="mainHeader">
    <h1><a href="{% url 'home' %}">Tirthan Village Resorts</a></h1>
    <nav>
				<ul class="MainNav">
					<li class="{% if active_page == 'home' %}active{% endif %}"><a href="{% url 'home' %}">Home</a></li>
          <li class="{% if active_page == 'rooms' %}active{% endif %}">
            <a href="{% url 'rooms' %}">Rooms</a>
          </li>

					<li><a href="#">About us </a></li>
          <li class="{% if active_page == 'contact' %}active{% endif %}"><a href="{% url 'contact-us' %}">contact us</a></li>
          
				</ul>
			</nav>
      <div class="navMobile">
          <a href="#" id="navButton">
            <div></div>
          </a>
      </div>
     </a>
  </header>
<main class="siteContent" role="main">
</main>
