input{
    height: 40px;

    outline: none;
    border: none;
    border-radius: 5px;
    background-color:rgb(223, 219, 219);
    padding-left: 10px;
    height: 50px;
}

input[type="submit"]{
    width: auto;
    padding: 10px 5px 10px 5px;
    margin-top: 20px;
    border-radius: 10px;
    text-transform: capitalize;
    font-size: 1.1rem;
    font-family: 'lato';
    background-color: black;
    color: white;
    padding: 10px 20px;

}
.field-group{
    display:flex;
    flex-direction:column;
    margin-top: 20px;
  }

  .field-group label{
    font-size: 1rem;
    font-family: monospace;
    margin-bottom: 5px;
  }
  .multiple-fields-container{
    display:flex;
    justify-content: space-between;
  }
  
  .booking-dates > .field-group{
    width: 49%;
  }

  .guest-count > .field-group{
    width: 32%;
  }
  