.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  gap: 10px;
  width: 400px;
  padding-bottom: 20px;
  /* border: 1px solid lavender; */
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius: 4px;
  overflow: hidden;
  
}

.swiper-slide img {
  
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
}



.swiper-slide:nth-child(2n) {
  width: 60%;
}

.swiper-slide:nth-child(3n) {
  width: 40%;
}

.swiper-pagination-bullet{
  background-color: yellow;
  opacity: .7;
}

.swiper-pagination-bullet-active{
  background-color: blue;
  opacity: 1;
}

.swiper-btn{
  position: relative;
  /* background-color: red; */
  margin-top: 25px;
  height: 30px;
  width: 100%;
}
.swiper-button-next,.swiper-button-prev{
  background-color: darkolivegreen;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  height: 30px;
  width: 30px;
  font-size: 100px;
  top: 20px;
}

.swiper-button-prev{
  left: 42%;
}
.swiper-button-next{
  right: 42%;
}
.swiper-button-next::after,.swiper-button-prev::after{
  font-size: 1rem;
  color: white;
}

.swiper-slide .room-info{
 

  width: 100%;
  height: auto;
  background-color: rgba(255, 255, 255, .8);
 
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: rgb(88, 83, 9);
 
}

.swiper-slide .room-info > i{
  font-style: normal;
}

@media (max-width:500px){

  .swiper-button-next,.swiper-button-prev{
    display: none;
  }
}