@media (max-width:500px){

  .section-content{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
  }

  .section-intro__content{
      font-size: .9rem;
      line-height: 1.5rem;
  }

  .section-content.intro-images img:nth-child(2),
.section-content.intro-images img:nth-child(3) {
  
  display: none;
}

.section-wrapper{
  gap: 20px;
}
.section-wrapper.offer-section{
  height: 250px;
  gap: 10px;
 
}

.section-wrapper.offer-section p{
  font-size: 40px;
  color: #ffffff;
  font-family: 'Caveat', cursive;

  line-height: 2rem;
  font-weight: 300;
  width: 100%;
  margin: 0 auto;
  
}

.section-wrapper.section-restaurant{
  display: flex;  
  width: 95%;
  flex-direction: column;
  /* background-color: blue; */
  /* justify-content: center; */
  align-items: center;
  gap: 5px;
}


.section-wrapper.section-restaurant .--middle{
  width: 100%;
  /* background-color: red; */
  margin-left: 0px;
  padding: 10px 0;
  gap: 0px;
  height: auto;
  
}
.section-wrapper.section-restaurant .--right{
  width: 100%;
  margin-left: 0px;
}

.section-wrapper.section-restaurant .--left{
  width: 100%;
  margin-left: 0px;
}

.amenitiies-wrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: #F6F6FA;
  padding: 10px 0;
  border-radius: 5px;
}
.amenity{
  width: 100%;
  justify-content: center;
  align-items: center;
}

.section-intro{
  width:100%;
  
}


.--left,.--right{
  height: 200px;

}

.--middle p{
  font-size: 1rem;
  line-height: 1rem;
  margin-top: 10px;
}
}