@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;

  line-height: 1.6;
}

section{
  background-color: #F5F6F8;
}

.content{
  color:  #797979;
  background-color: #000000;
  background-color:  RGBA(0, 0, 0, 0);
  font-family:  "GlacialIndifference-Regular";
  font-size:18px;
  padding-left: 10px;
  padding-right: 10px;
}




@media (max-width:500px){

  .section__title{
    margin-top: 10px;
    display: flex;
   justify-content: center;
   text-transform: capitalize;
    font-size: 25px;
    line-height: 60px;
    font-family:"Playfair Display",serif;
    color: #0e2a4e;
    font-weight: 800;
    margin-bottom: 10px;
    position: relative;
  }

  .info__section{
    display: flex;
    flex-direction: column;
  }

  .info__section__img img{
    width: 100%;
  }

  .accomodation__section__rooms{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .single-room{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    position: relative;
    width: 96%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    /* background-color: #e3f1ee; */
    border-radius: 6px;
   
  }
  .room__info{
    width: 96%;
    display: flex;
    flex-direction: column;
  
  }
 
  .room__info p{
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    margin-top: 5px;
  }
  .room__info__summary{
  
    font-size: 18px;
    font-weight:900;
    font-size: 1.2rem;
    font-family: 'lato';
    color:#db3c07;
  
    /* background-color: yellow; */
   
  }
  .room__info__price{
  
    font-size: 15px;
    font-weight:900;
    font-size: 1.1rem;
    font-family: 'lato';
    color:#034926;
  
    /* background-color: yellow; */
   
  }
  .room__info__complex-detail{
    font-family: 'lato';
    font-weight:900;
    font-size: 1.1rem;
    color: #5c800b;
  }
  .room__info__description{
    /* font-family: 'monospace'; */
    font-size: 1rem ;
    color: #73756e;
    letter-spacing: 1px;
    line-height: 2rem;
  }


  .single-room img{
    width: 100%;
    border-radius: 6px;
   
  }

  .amenitiies__section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .amenity{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 5%;
  }

  .amenitiies__section .amenity__icon{
    display: flex;
    justify-content: center;
    font-size: 60px;
    color:#849fc5;
    width: 25%;
    /* background-color: red; */
  }

    .amenity__info{
      width: 70%;
      /* background-color: aqua; */
    }
    .amenity__info p{
      font-size: 10px;
    }
  .amenity__info .title{
    font-size: 20px;
    color:#0E2A4E;
    font-family :"GlacialIndifference-Regular";
    line-height:21px;
    vertical-align:baseline;
    letter-spacing: 2px;
    word-spacing:0px;
    margin:0px 0px 15px;
    padding:0px;
   
    
  }
  .amenity__info p{
    font-family:  "GlacialIndifference-Regular";
    color:#8A8B96;
    font-size:16px;
    line-height:30px;
  vertical-align:baseline;
  letter-spacing:normal;
  word-spacing:0px;
  margin:0px 0px 15px;
  padding:0px;

  }

  footer{
    position: relative;
    display: flex;
    background-color: #24324A;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* opacity: 0.8; */
  }
  .footer__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 15px;
  }
  
  .footer__container .footer__title{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__container .footer__title h2{
    font-family: 'lato';
    color: white;
    font-size: 2rem;
  }

  .footer__container .footer__title aside{
    color:#818A9C;

  }

  .footer__address{
    width: 90%;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color:#818A9C;
    font-family: 'lato';
    font-weight: 400;
    text-align: center;
  }

  .footer__social{

    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #344157;
    padding-top: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
  }
  .footer__social h3{
    color: white;
    font-family: 'lato';
    font-size: 1.3rem;
  }

  .social-icons{
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 2rem;
    color: yellow;

  }
  .footer__social p{
    margin-top: 10px;
    color:#818A9C;
    text-transform: uppercase;
    font-family: 'lato';
  }
}
/* media query ended */




.btn {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid red;
  border-radius: 0.6em;
  color: red;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.btn:hover, .btn:focus {
  color: #fff;
  outline: 0;
}

.know-more {
  border-color: rgb(255, 255, 0);
  color: rgb(37, 102, 107);
  background-image: linear-gradient(45deg, yellow 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: background 300ms ease-in-out;
}
.know-more:hover {
  background-position: 0;
  color: black;
}

.room-title > h3{
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 2px;
  font-family:'lato' ;

}
