{% extends 'main.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'styles/slider.css' %}">
{% endblock css %}

{% block content %}


<div class="slider">
    <div class="slide current">
      {% comment %} <div class="content">
        <h1>Slide One</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit hic
          maxime, voluptatibus labore doloremque vero!
        </p>
      </div> {% endcomment %}
    </div>
    <div class="slide">
     
    </div>
    <div class="slide">
      
    </div>
    <div class="slide">
      
    </div>
    <div class="slide">
      
    </div>
    <div class="slide">
      
    </div>
  </div>
  <div class="buttons">
    <button id="prev"><i class="fas fa-arrow-left"></i></button>
    <button id="next"><i class="fas fa-arrow-right"></i></button>
  </div>   
  
  <section>
    <div class="section__title">
        <h2>
            About our resort
        </h2>
</div>
    <div class="info__section" data-aos="fade-up" data-aos-duration="2000">
        
        <div class="info__section__content content">
            <p>
                Nestled in the tranquil Tirthan Valley, our resort offers the 
                perfect blend of natural beauty and luxury. Surrounded by lush
                 green forests and situated alongside the sparkling Tirthan River, 
                 our resort is the ultimate destination for those looking to escape 
                 the hustle and bustle of city life.<br>

                    {% comment %} Our rooms and suites are tastefully designed with comfort
                     and relaxation in mind, featuring large windows that offer 
                     stunning views of the valley.  {% endcomment %}

{% comment %} Each room is equipped with modern amenities, including air conditioning, flat-screen TVs, and complimentary Wi-Fi.

For those looking to indulge in some outdoor activities, we offer a wide range of options, from fishing and river rafting in the Tirthan River to hiking and bird watching in the surrounding forests. Our on-site spa offers a variety of treatments to help you relax and rejuvenate, while our fitness center is the perfect place to stay active during your stay.

Our resort also features a variety of dining options, including a fine-dining restaurant that serves delicious local and international cuisine. Our open-air terrace restaurant offers the perfect place to enjoy a meal while taking in the stunning views of the Tirthan Valley.

In addition to our recreational activities and dining options, our resort also serves as the perfect venue for special events, including weddings and corporate retreats. Our team of dedicated professionals will work closely with you to ensure that your event is a success.

Come and experience the beauty and tranquility of the Tirthan Valley at our resort. We look forward to welcoming you soon! {% endcomment %}
            </p>
           
        </div>
        <div class="info__section__img">
            <img src="{% static 'images/cottage.jpeg' %}" alt="image">
            
        </div>
        <div class="btn know-more">
            Know more
        </div>
    </div>

    <div class="section__title">
        <h2>
            accomodation
        </h2>
    </div>
    <div class="accomodation__section" data-aos="fade-up"
    data-aos-duration="2000">
        <div class="accomodation__section__content content">
            <p>
                Our hotel offers 30 double, and 5 single 
                rooms as well as 36 suites and junior suites.
            </p>
        </div>
        <div class="accomodation__section__rooms">
            <div class="single-room">
                <img src="{% static 'images/rooms/room.jpeg' %}" alt="image">
                <div class="room__info">
                    <p>
                        <b>
                            Family Suit
                        </b><br>
                        2 Room | 4 Guests <br>
                        $ 1000 / Night <br>
                    </p>
                </div>
            </div>
            <div class="single-room">
                <img src="{% static 'images/rooms/room.jpeg' %}" alt="image">
                <div class="room__info">
                    <p>
                        <b>
                            Deluxe Room
                        </b><br>
                        1 Room | 2 Guests <br>
                        $ 500 / Night <br>
                    </p>
                </div>
            </div>

            <div class="btn know-more">
                See All
            </div>
        </div>
        <div class="section__title">
            <h2>
                Amenities
            </h2>
        </div>
        <div class="amenitiies__section" data-aos="fade-up"
        data-aos-duration="2000">
            <div class="amenity">
                <div class="amenity__icon">
                    <i class="fa fa-light fa-wifi"></i>
                </div>
                <div class="amenity__info">
                   <p class="title">
                       Free wifi
                   </p> 
                   <p>
                    Free high-speed WiFi is available  guests 
                    to stay connected during their stay.
                   </p>
                </div>
            </div>
            <div class="amenity">
                <div class="amenity__icon">
                    <i class="fa fa-light fa-car"></i>
                </div>
                <div class="amenity__info">
                   <p class="title">
                       Private Parking
                   </p> 
                   <p>
                    Private parking is available on-site for guests' convenience.
                   </p>
                </div>
            </div>
            <div class="amenity">
                <div class="amenity__icon">
                    <i class="fa fa-solid fa-utensils"></i>
                </div>
                <div class="amenity__info">
                   <p class="title">
                    Restaurant
                   </p> 
                   <p>
                    Our restaurant serves delicious meals and a variety of cuisines for guests to enjoy.
                   </p>
                </div>
            </div>
            <div class="amenity">
                <div class="amenity__icon">
                    <i class="fa fa-regular fa-eye"></i>
                </div>
                <div class="amenity__info">
                   <p class="title">
                      River / Mountain view
                   </p> 
                   <p>
                    Relax and enjoy the stunning river and mountain views from the comfort of your room.
                   </p>
                </div>
            </div>
            {% comment %} 
            <i class="fa fa-regular fa-car"></i>
            <i class=" fa fa-solid fa-fork-knife"></i>
            <i class="fa fa-regular fa-tv"></i> {% endcomment %}
        </div>

    </div>
  </section>



{% endblock content %}