{% extends 'main.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'styles/rooms.css' %}">
{% endblock css %}
    
{% block content %}

<!-- about -->
<ul class="tabs">
    <li data-tab-target="#home" class="active tab">Jalori Complex</li>
    <li data-tab-target="#pricing" class="tab">Rahupur Complex</li>
    <li data-tab-target="#about" class="tab">tirthan complex</li>
  </ul>
  
  <div class="tab-content">
    <div id="home" data-tab-content class="active">
        <div class="image-grid-container">
            <div class="item item-1">
                <img src="https://cdn.pixabay.com/photo/2018/01/21/01/19/tree-3095683__340.jpg" alt="">
            </div>
            <div class="item">
                <img src="https://cdn.pixabay.com/photo/2016/11/14/03/26/cliff-1822484__340.jpg" alt="">
            </div>
            <div class="item">
                <img src="https://cdn.pixabay.com/photo/2018/08/19/10/16/nature-3616194__340.jpg" alt="">
            </div>
            <div class="item">
                <img src="https://cdn.pixabay.com/photo/2015/01/28/23/35/hills-615429__340.jpg" alt="">
            </div>
            <div class="item">
                <img src="https://cdn.pixabay.com/photo/2016/10/22/17/46/mountains-1761292__340.jpg" alt="">
            </div>
          </div>

          <div class="rooms-detail-container">
            <div class="rooms-detail-container__left">
                <div class="room-description">
                    <h3>
                        About Jalori Complex
                    </h3>
                    <p>
                        Welcome to Jalori Complex, the perfect retreat for 
                        those looking for a scenic and budget-friendly stay. 
                        Our complex offers three comfortable single rooms with
                         private bathrooms, each providing breathtaking views of 
                         The Tirthan River. Ideal for couples, solo travelers, 
                         or small groups of up to three people, our rooms offer the perfect 
                         combination of comfort and affordability.<br>
                          Book your stay at Jalori
                          Complex and experience the beauty of nature 
                        while enjoying the convenience of your own private space.<br>
                        At Jalori Complex, we strive to provide our guests with 
                        a memorable and relaxed experience. Whether you're here to 
                        explore the natural wonders of the surrounding area or simply 
                        looking for a peaceful escape, our rooms have everything you need.<br>
                         Each room is thoughtfully designed with the guest in mind and comes
                          equipped with all the modern amenities you would expect. Enjoy the 
                          tranquil sounds of The Tirthan River from your private room or step
                           outside to soak in the breathtaking views. We promise that 
                        your stay at Jalori Complex will be an experience to remember.
                    </p>
                </div>

            </div>
            <div class="rooms-detail-container__right">
                
            </div>
          </div>
    </div>
    <div id="pricing" data-tab-content>
        <div class="image-grid-container">
            <div class="item item-1">
                <img src="https://cdn.pixabay.com/photo/2016/11/14/03/26/cliff-1822484__340.jpg" alt="">
            </div>
            <div class="item">
                <img src="https://cdn.pixabay.com/photo/2018/01/21/01/19/tree-3095683__340.jpg" alt="">
            </div>
            <div class="item">
                <img src="https://cdn.pixabay.com/photo/2016/11/14/03/26/cliff-1822484__340.jpg" alt="">
            </div>
            <div class="item">
                <img src="https://cdn.pixabay.com/photo/2018/08/19/10/16/nature-3616194__340.jpg" alt="">
            </div>
            <div class="item">
                <img src="https://cdn.pixabay.com/photo/2015/01/28/23/35/hills-615429__340.jpg" alt="">
            </div>
            
          </div>
    </div>
    <div id="about" data-tab-content>
        <div class="image-grid-container">
            <div class="item  item-1">
                <img src="https://cdn.pixabay.com/photo/2016/10/22/17/46/mountains-1761292__340.jpg" alt="">
            </div>
            <div class="item">
                <img src="https://cdn.pixabay.com/photo/2018/01/21/01/19/tree-3095683__340.jpg" alt="">
            </div>
            <div class="item">
                <img src="https://cdn.pixabay.com/photo/2016/11/14/03/26/cliff-1822484__340.jpg" alt="">
            </div>
            <div class="item">
                <img src="https://cdn.pixabay.com/photo/2018/08/19/10/16/nature-3616194__340.jpg" alt="">
            </div>
            <div class="item">
                <img src="https://cdn.pixabay.com/photo/2015/01/28/23/35/hills-615429__340.jpg" alt="">
            </div>
            
          </div>
    </div>
   
  
  </div>
  
        
       
        
  
  
  
  
  
  
  
  
  
  
  
  
{% endblock content %}

{% block scripts %}
    
{% endblock scripts %}