{% extends 'main.html' %}
{% load static %}
{% block css %}
{% comment %} <link rel="stylesheet" href="{% static 'styles/rooms.css' %}"> {% endcomment %}
<link rel="stylesheet" href="{% static 'styles/booking_form.css' %}">
{% endblock css %}

{%block content%}
<div class="rooms-hero">
    
    <img src="https://cdn.pixabay.com/photo/2016/11/14/02/28/apartment-1822409_960_720.jpg" alt="">
</div>

<div class="sections-container">
    <div class="section-wrapper rooms-section">
        <div class="section-title">
            <h2>All rooms</h2>
          </div>
          <div class="section-intro">
            <p class="section-intro__content">
              Nestled in the tranquil Tirthan Valley, our resort 
              offers the perfect blend of natural beauty and luxury. 
              Surrounded by lush green forests and situated alongside t
              he sparkling Tirthan River, our resort is the ultimate destination for those 
              looking to escape the hustle and bustle of city life.
            </p>
          </div>

          <div class="section-content rooms-row">

              <div class="room-details">
                  <div class="room-details__image">
                      <img src="https://cdn.pixabay.com/photo/2021/03/08/13/18/bed-6079088__340.jpg" alt="">
                    </div>
                    <div class="room-details__content">
                        <b>Family Suite</b>
                        
                        <i>
                            <span class="material-symbols-rounded">
                            single_bed
                            </span> 2 bed | 
                            <span class="material-symbols-rounded">
                                shower
                            </span>2 Bathrooms
                            </i>
                        <i>
                            <span class="material-symbols-rounded">
                                currency_rupee
                                </span>5000 / Night
                        </i>
                        <p>
                            Our Family Suite offers beautifull view of the Tirthan 
                            River and is the perfect choice for families.
                        </p>
                    </div>
                </div>

                <div class="room-details">
                    <div class="room-details__image">
                        <img src="https://cdn.pixabay.com/photo/2021/03/08/13/18/bed-6079088__340.jpg" alt="">
                      </div>
                      <div class="room-details__content">
                        <b>Family Suite</b>
                        
                        <i>
                            <span class="material-symbols-rounded">
                            single_bed
                            </span> 2 bed | 
                            <span class="material-symbols-rounded">
                                shower
                            </span>2 Bathrooms
                            </i>
                        <i>
                            <span class="material-symbols-rounded">
                                currency_rupee
                                </span>5000 / Night
                        </i>
                        <p>
                            Our Family Suite offers beautifull view of the Tirthan 
                            River and is the perfect choice for families.
                        </p>
                    </div>
                  </div>

                  <div class="room-details">
                    <div class="room-details__image">
                        <img src="https://cdn.pixabay.com/photo/2021/03/08/13/18/bed-6079088__340.jpg" alt="">
                      </div>
                      <div class="room-details__content">
                        <b>Family Suite</b>
                        
                        <i>
                            <span class="material-symbols-rounded">
                            single_bed
                            </span> 2 bed | 
                            <span class="material-symbols-rounded">
                                shower
                            </span>2 Bathrooms
                            </i>
                        <i>
                            <span class="material-symbols-rounded">
                                currency_rupee
                                </span>5000 / Night
                        </i>
                        <p>
                            Our Family Suite offers beautifull view of the Tirthan 
                            River and is the perfect choice for families.
                        </p>
                    </div>
                  </div>
            </div>

            <div class="section-content rooms-row">

                <div class="room-details">
                    <div class="room-details__image">
                        <img src="https://cdn.pixabay.com/photo/2021/03/08/13/18/bed-6079088__340.jpg" alt="">
                      </div>
                      <div class="room-details__content">
                        <b>Family Suite</b>
                        
                        <i>
                            <span class="material-symbols-rounded">
                            single_bed
                            </span> 2 bed | 
                            <span class="material-symbols-rounded">
                                shower
                            </span>2 Bathrooms
                            </i>
                        <i>
                            <span class="material-symbols-rounded">
                                currency_rupee
                                </span>5000 / Night
                        </i>
                        <p>
                            Our Family Suite offers beautifull view of the Tirthan 
                            River and is the perfect choice for families.
                        </p>
                    </div>
                  </div>
  
                  <div class="room-details">
                      <div class="room-details__image">
                          <img src="https://cdn.pixabay.com/photo/2021/03/08/13/18/bed-6079088__340.jpg" alt="">
                        </div>
                        <div class="room-details__content">
                            <b>Family Suite</b>
                            
                            <i>
                                <span class="material-symbols-rounded">
                                single_bed
                                </span> 2 bed | 
                                <span class="material-symbols-rounded">
                                    shower
                                </span>2 Bathrooms
                                </i>
                            <i>
                                <span class="material-symbols-rounded">
                                    currency_rupee
                                    </span>5000 / Night
                            </i>
                            <p>
                                Our Family Suite offers beautifull view of the Tirthan 
                                River and is the perfect choice for families.
                            </p>
                        </div>
                    </div>
  
                    <div class="room-details">
                      <div class="room-details__image">
                          <img src="https://cdn.pixabay.com/photo/2021/03/08/13/18/bed-6079088__340.jpg" alt="">
                        </div>
                        <div class="room-details__content">
                            <b>Family Suite</b>
                            
                            <i>
                                <span class="material-symbols-rounded">
                                single_bed
                                </span> 2 bed | 
                                <span class="material-symbols-rounded">
                                    shower
                                </span>2 Bathrooms
                                </i>
                            <i>
                                <span class="material-symbols-rounded">
                                    currency_rupee
                                    </span>5000 / Night
                            </i>
                            <p>
                                Our Family Suite offers beautifull view of the Tirthan 
                                River and is the perfect choice for families.
                            </p>
                        </div>
                    </div>
              </div>

          
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'js/rooms-swiper.js' %}"></script>
{% endblock scripts %}